*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    padding: 40px 72px;
    gap: 32px;
    align-items: center;    
    background-color: blue;
}

nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 20px;
    align-items: center;
    
}

nav ul li a{
    text-decoration: none;
    color: #C4C4CC;
    font-weight: normal;
    font-size: 21px;
}

.ativo{
    color: #fff;
    font-weight: 700;
}